<?xml version='1.0' encoding='UTF-8'?> <checkstyle> <file name='app/models/article.rb'> <error line='4' column='0' severity='warning' message='Instance method `even?` is missing coverage for line 3 (node coverage: 0.0)' source='Untested instance method'/> <error line='8' column='0' severity='warning' message='Instance method `odd?` is missing coverage for line 7 (node coverage: 0.0)' source='Untested instance method'/> </file> <file name='app/models/cake.rb'> <error line='4' column='0' severity='warning' message='Instance method `sweet?` is missing coverage for line 3 (node coverage: 0.0)' source='Untested instance method'/> <error line='8' column='0' severity='warning' message='Instance method `for_children?` is missing coverage for line 7 (node coverage: 0.0)' source='Untested instance method'/> </file> </checkstyle>
